---
layout: default
title: fhoehl
---

<div class="row flex flex-wrap flex-justify flex-center">
  {% for post in site.posts %}
  <div class="flex flex-center m3">
    <div class="thumbnail" style="border: none; padding: 0;">
        {% if post.link %}
        <a href="{{ post.link }}">
          <img src="{{ post.image }}" width="400" class="img-responsive" alt="">
        </a>
        <div class="caption">
          <h3><a href="{{ post.link }}">{{ post.title }}</a></h3>
        </div>
        {% else %}
        <a href="{{ post.url }}">
          <img src="{{ post.image }}" width="400" class="img-responsive" alt="">
        </a>
        <div class="caption">
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        </div>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

